.makeStyles-search-1 {
  position: relative;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
  width: auto;
  margin-left: 8px;
}

.makeStyles-search-1:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.makeStyles-searchIcon-1 {
  height: 100%;
  display: flex;
  padding: 0px 16px;
  position: absolute;
  align-items: center;
  pointer-events: none;
  justify-content: center;
}

.MuiInputBase-root-1 {
  color: #ffffff !important;
}

.makeStyles-inputInput-2 {
  width: 22ch;
  padding: 8px 8px 8px 0px;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding-left: calc(1em + 32px);
  color: #ffffff;
}